<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mobile_Robot_Term_Project"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".Serving_Activity"></activity>
        <activity android:name=".Guide_Activity"></activity>
        <activity android:name=".Menu_Activity"></activity>
        <activity android:name=".Moving_Activity"></activity>
        <activity android:name=".Pay_Activity"></activity>
        <activity android:name=".CustomDialog"></activity>
        <activity android:name=".table_Activity"></activity>
        <meta-data
            android:name="com.robotemi.sdk.metadata.SKILL"
            android:value="@string/app_name" />
    </application>

</manifest>